body {
    font-family: 'Courier New', Courier, monospace;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
    background-image: url("./img/bg.png");
    background-size: cover;
}

.button-s {
    background: url("./img/function.png");
    background-size: cover;
    text-align: center;
    padding-left: 7px;

    
    font-size: 17px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 260px;
    left: 360px;
    height: 80px;
    width: 80px;
    color: whitesmoke;
    background-position: center center;
}
#start{}
#submit{
    left:540px;
}
#reset{visibility: hidden;}

#a {
    position: absolute;
    top: 130px;
    left: 450px;
    transform: translate(-50%, -50%);
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#a button {
    background: none; 
    background-image: url("./img/Options.png");
    background-position: center center;
    background-size: cover;
    color: antiquewhite;
 
    font-size: 12px;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: not-allowed;
    pointer-events: none;
}



